.input-container {
    position: relative;
    transform: translateY(-50%);
    background-color: #FFF;
    
    input {
        box-sizing: content-box;
        border: 1px solid var(--primary-color);
        
        &:focus{
            outline: none;
            border: 2px solid var(--primary-color);
        }
    }

    button {
        color: white;
        background-color: var(--primary-color);
    }
}