<main class="p-1 flex-col items-center">
  <section class="flex-col items-center">
    <h1 class="main-title">Tasks</h1>
    <div class="p-2 rounded tasks-container shadow">
      <app-task-input (onSaved)="saveTask($event)"></app-task-input>
      <ul *ngIf="tasks.length else noTasks" class="list-style-none">
        <li *ngFor="let task of tasks">
          <app-task [task]="task" (onRemove)="removeTask($event)" (onToggleChecked)="changeTask($event)"></app-task>
        </li>
        <button (click)="cleanTasks()" class="w-full pointer rounded btn p-1 clean-tasks-btn">
          Clean tasks
        </button>
      </ul>
      <ng-template #noTasks>
        <div class="flex-col items-center">
          <img class="todo-illustration" src="assets/images/todo-illustration.png" alt="">
          <p class="text-center p-1 rounded w-full warn">Add your first task!</p>
        </div>
      </ng-template>
    </div>
  </section>
  <footer class="p-2">
    <a href="http://www.aloisiot.dev">
      www.aloisiot.dev
    </a>
  </footer>
</main>