@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700&display=swap');

* {
    font-family: 'Open Sans', Verdana, sans-serif;
    box-sizing: border-box;
}

//  Color pallet
 :root {
     --primary-color: cadetblue;
     --light-gray: #EEE
 }

body {
    background-color: var(--primary-color);
    margin: 0;
}

.w-full{
    width: 100%;
}

.h-full {
    height: 100%;
}

// Flex box
.flex-row {
    display: flex;
    flex-direction: row;
}
.flex-col {
    display: flex;
    flex-direction: column;
}
.items-center {
    align-items: center;
}
.justify-center {
    justify-content: center;
}
.gap-1 {
    gap: 8px;
}
.grow-1 {
    flex-grow: 1;
}

// padding
.p-2 {
    padding: 16px;
}
.p-1 {
    padding: 8px;
}

.rounded {
    border-radius: 4px;
}

.list-style-none {
    padding: 0;
    margin: 0;
    list-style: none;
}

// margim
.mb-1 { // Margin-bottom-1
    margin-bottom: 16px;
}
.my-1 {
    margin: 8px 0;
}
.m-1 {
    margin: 8px;
}
.m-2 {
    margin: 16px;
}

// Button
.btn {
    background: none;
    border: none;
    outline: none;
}

//  shadow
.shadow{
    box-shadow: 0 4px 4px #0002;
}

//  Cursor
.pointer {
    cursor: pointer;
}

// text
.text-center {
    text-align: center;
}
